<div class="container">
  <div class="row">
    <div class="col-12 col-lg-7">
      <% @houses.each do |house| %>
        <a href="<%= house_path(house) %>" class="card-link" style="text-decoration: none;">
          <div class="card mb-4" style="border: none; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); overflow: hidden;">
            <div class="card-body">
              <div class="text-center">
                <div class="image-container" style="width: 100%; height: 400px; display: flex; align-items: center; justify-content: center; overflow: hidden;">
                  <% house.photos.each do |photo| %>
                    <%= cl_image_tag photo.key, class: "card-image", style: "object-fit: cover; max-width: 100%; max-height: 100%;" %>
                  <% end %>
                </div>
                <div>
                  <h2 class="card-title no-underline"><%= house.name %></h2>
                  <p class="info-line no-underline">
                    <span class="no-underline"><%= house.number_of_rooms %> bds</span> |
                    <span class="no-underline"><%= house.number_of_bathrooms %> ba</span> |
                    <span class="no-underline"><%= house.square_feet %> sqft</span>
                  </p>
                  <p class="card-text no-underline"><%= house.address %></p>
                </div>
              </div>
            </div>
          </div>
        </a>
      <% end %>
    </div>
    <div class="col-12 col-lg-5">
      <div class="card rounded shadow"
        id="mapbox" style="width: 100%; height: 810px; position: sticky; top: 0;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
